body {
    margin-top:56px;
}

#notification-bell::after, #notification-options::after {
    display: none!important;
}

#notification-bell > span {
    top:0px;
    left:16px;
    position:absolute;
}

#notification-menu {
    left: auto;
    right: 0;
    padding-top:0px;
    padding-bottom:0px;
    overflow:auto;
    max-height: 375px;
}

.sidebar .nav-link {
    font-size: 14px;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    color: #333;
}

.sidebar .nav-link > svg {
    margin-right: 4px!important;
    color: #999;
}

.sidebar .nav-link:hover svg {
    color: #333;
}

.sidebar .nav-link.active > svg, .sidebar .nav-link.active {
    color: #0d6efd;
    font-weight:700;
}

nav#sidebarMenu {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    z-index:0;
}

.fixed-nav {
    top:56px;
}

@media (max-width: 768px) {
    #navbar-container {
        max-height: 100vh;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    #navbar-container::-webkit-scrollbar {
        display: none;
    }
}

@media (min-width: 992px)  {
    #notification-menu {
        min-width: 375px;
    }
}

