#notification-bell::after {
    display: none!important;
}

#notification-bell > span {
    top:0px;
    left:16px;
    position:absolute;
}

#notification-menu {
    left: auto;
    right: 0;
    padding-top:0px;
    padding-bottom:0px
}

.notification-items {
    max-height: 300px;
}

.notification-wrapper:hover {
    background-color: #f8f9fa;
}

@media (min-width: 992px)  {
    #notification-menu {
        min-width: 375px;
    }
}