#notification-bell::after, #notification-options::after {
    display: none!important;
}

#notification-bell > span {
    top:0px;
    left:16px;
    position:absolute;
}

#notification-menu {
    left: auto;
    right: 0;
    padding-top:0px;
    padding-bottom:0px;
    overflow:auto;
    max-height: 375px;
}

.notification-item:hover {
    background-color: #f8f9fa;
}

.sidebar .nav-item:hover {
    background-color: #f8f9fa;
    color: rgba(0,0,0,.9);
}

.sidebar .nav-link {
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    color: #f8f9fa;
}

.sidebar .nav-link:hover {
    color: rgba(0,0,0,.9);
}

nav#sidebarMenu {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

@media (min-width: 992px)  {
    #notification-menu {
        min-width: 375px;
    }
}